/* GamePage.css */

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 8px; /* Espacement entre les cellules */
}

.grid-cell {
  width: 40px; /* Ajustez la largeur selon vos besoins */
  height: 40px; /* Ajustez la hauteur selon vos besoins */
  background-color: #0177C7; /* Couleur de fond de la cellule */
  color: white; /* Couleur du texte dans la cellule */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px; /* Ajustez la taille de la police selon vos besoins */
  border-radius: 5px; /* Bordure arrondie */
}
